body {
    font-family: 'Roboto', sans-serif;
    /* background-color: rgb(240, 240, 240); */
}
.row.h-11 {
  height: 9.0909090909svh; /* 1/11th of total viewport height */
}
.row.h-10 {
  height: 10svh; /* 1/11th of total viewport height */
}
.counter {
    background: linear-gradient(to right, rgb(52, 58, 64) 50%, grey 0%);
    background-size: 200% 100%;
  transition: background-position 0.5s;

    border: none;
    padding: 10px;
    box-sizing: border-box;
}
/* .ele-pic {
    background-image: url('/img/elevator-modified.png')
} */